.yellow-box {
  width: 100px;
  height: 100px;
  background: yellow;
}

body {
  margin: 0 auto;
  background: black;
}

/* #unmute-button {
  background-color: white !important;
} */

.bgOne {
  background-color: blue;
  width: 100px;
  height: 100px;
  transition-property: background-color;
  transition-duration: 5s;
  opacity: 1;
}
